wechat:
  corpId: ""
  corpSecret: ""
  agentId: 123
  aesKey: ""
  token: ""
es:
  enabled: false
  scheme: "http"
  host: "localhost"
  port: 9200
  username: "elastic"
  password: "mypassword"
server:
  port: 8080
spring:
  redis: ""
    host: ""
    port: ""
    password: ""